@import url(https://fonts.google.com/specimen/Roboto);
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

img {
    width: 80%;
}

header {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
}
header nav li {
    display: inline-block;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 100px;
}
nav a{
    display: block;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255) ;
}
header input {
    padding: 4px 10px;
    border-radius: 20px;
    width: 100px;
}
.videoframe {
    overflow: hidden;
    margin-bottom: 3rem;
    max-height: 100vh;
}

video {
    width: 100%;
}
.flex-container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
}
.flex-item {
    flex: 1;
}

section {
    margin-bottom: 3rem;
}

#featured h2{
    padding-left: 2rem;
}
#featured  img{
    display: block;
    width: 80%;
    aspect-ratio: 5/6;
    object-fit: cover;
}
#featured{
    padding-left: 1rem;
    padding-right: 1rem;
}
#categories h2{
    padding-left: 2rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#categories h1{
    padding-left: 2rem;
    background-color: black;
    color: white;
}
figure {
    position: relative;
}
figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
}
#categories img{
    margin: 1rem;
    border-radius: 10%;
}
.highlight{
    color: white;
    background-color: black;
}
.achtergrondfoto{
    background-size: cover;
    background-image: url(groepsfoto.jpg);
        
}
#backstory h2{
    padding-left: 2rem;
}
#backstory p{
    padding-left: 1rem;
}
footer a{
    color: white;
}
footer {
    padding: 5vw 10vw;
    background-color: #111;
    color: #666;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
