body {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(21, 76, 121);
}
a{
    color: rgb(255, 255, 255);
}
#about {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: flex;
    border-radius: 40px;
    background: rgb(105, 105, 104);
    padding-bottom: 5%;
    padding-top: 5%;
}
.left{
    flex: 5;
    text-align: start;
    padding-left: 5%;
    border-right: 2px solid black;
    margin-right: 2%;
}
.right{
    flex: 5;
    margin-left: 2%;
    text-align: ;
    padding-right: 5%;
}
.up{
    text-align: center;
}
li{
    color: rgb(21, 76, 121);
}
footer{
    text-align: center;
}