body {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(21, 76, 121);
}
a{
    color: rgb(255, 255, 255);
}
#about {
    border: ;
    border-color: black;
    display: flex;
}
.left{
    flex: 4;
    border: 2px solid black;
    text-align: left;
}
.right{
    flex: 7;
    border: 2px solid black;
    text-align: right;
}
.up{
    border: 3px solid black;
    text-align: center;
}
